body {
    background-color: rgb(211, 184, 236);


}

.mdn {
    color: rgb(211, 184, 236);
}


.tag {
    color: #3f0a41;
    position: relative;
    margin: 0 15px;
    text-decoration: none;

}


img {
    max-width: 100%;
}

/* 
@media screen and (max-width:500px) {

    .boo {
        position: relative;
    }

    img {

        background-size: contain;
        /* left: 46%; */